.main-header {
    @extend %centered;	
    border-top: 5px solid $color-prim;  
    background: linear-gradient(to top, rgba(0,0,255,0), rgba(0,0,255,0.6)),
               url('#{$image-path}/venice.jpg') no-repeat center;
    background-size: cover;  
    color: $color-text-light;
    height: 400px;
    padding: 50px 25px 0;

    @media (#{$break-narrow-min}) {
      height: 600px;
      padding: 150px 0 0;
    }
}