.top-margin { 
	margin-top: 100px;
	&:first-child {
		margin-top: 0;
	}

	@media (#{$break-narrow-min}) {
		margin: 0;
	}
}

.transportation {
	img {
	 	margin: 20px 0 0;	
	  	max-height: 250px;
	}
	li {
	  	text-align: justify;
	  	list-style: disc;
	}
	ul{
		margin: 0 30px; 
	}
}

.profile-photo {
	display: block;
	max-width: 150px;
	height: auto;
	margin: 0 auto;
}



