/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body { 
  @include text(1.3em, 1.5, $color: $color-text-dark);
  @extend %centered;
  @extend %margin-none;
  font-family: $josefin-font-stack;
  
  @media (#{$break-narrow-max}) and (#{$break-narrow-max}) {
   font-size: 1.1em;
  }
  @media (#{$break-mobile}) {
    font-size: 1.3em;
  }
}

h2 {
  @include text(1.5em, 1.2, bold, $color-text-heading);
  text-transform: uppercase;
  margin: 0 0 .5em;
  padding-top: 50px;
  padding-bottom: 20px;  
  border-bottom: 1px solid $color-prim;

  @media (#{$break-narrow-min}) {
   font-size: 2em;
   padding-top: 100px;
  }

}

h3 {
  @include text(1.25em, 1.2, $color: $color-text-heading);
  @extend %margin-none;
 
  @media (#{$break-narrow-max}) and (#{$break-narrow-max}) {
   font-size: 1.1em;
  }
  @media (#{$break-mobile}) {
    font-size: 1.25em;
  }
}

img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}




