// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$indian-red		: #de5842;
$dark-slate-gray	: #0a4d6d;


// Functional color variables
$color-prim         :$indian-red;
$color-body         :$white;
$color-text-light	:$white;
$color-text-base	:$grey;
$color-text-dark	:$black;
$color-text-heading	:$dark-slate-gray;

// Font variables
$sans-serif-font-stack: Helvetica, Arial, sans-serif;
$josefin-font-stack: 'Josefin Sans', $sans-serif-font-stack;

// New asset paths
$image-path   : '../img'; 

// Media Query breakpoints
 $break-mobile		: "max-width: 699px";			
 $break-narrow-min	: "min-width: 700px";			
 $break-narrow-max	: "max-width: 989px";			
 $break-wide		: "min-width: 990px";