// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$river-bed      : #48525c;
$indian-red		: #de5842;
$blue			: #0a4d6d;


// Functional color variables
$color-prim         :$indian-red;
$color-body         :$white;
$color-text-light	:$white;
$color-text-base	:$grey;
$color-text-dark	:$river-bed;
$color-text-heading	:$blue;

// Font variables
$sans-serif-font-stack: Helvetica, Arial, sans-serif;
$josefin-font-stack: 'Josefin Sans', $sans-serif-font-stack;

// New asset paths
$image-path   : '../img'; 

// Media Query breakpoints
 $break-narrow : "max-width: 768px";			
 $break-wide   : "max-width: 1024px";